<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clustercode.indalo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Window.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientDetailsActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".WhoAreWeActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".ProductsActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBHealthActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBDemostrationActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBDemostrationDetailsActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBEconomyActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBTechnologyActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBTechnology1Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBTechnology2Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBTechnology3Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralHealth1Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralHealth2Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralDemostrationActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralDemostrationDetailsActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralEconomy1Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralTechnologyActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralTechnology1Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralTechnology2Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloCentralTechnology3Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3HealthActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3DemostrationActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3DemostrationDetailsActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3EconomyActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3TechnologyActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3Technology1Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3Technology2Activity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".MyAccountActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Indalo3YoutubeActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBTestimoniesActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".IndaloROBYoutubeActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".TestimoniesActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".WhereAreWeActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".SolicitudCreditoActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>